
.destination-div {
    position: relative;
}


.destination-images{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;

    position: relative;

    height:20%;
    width: 20%;

}

.title {
    position: absolute;
    top: 50px;
    right: 5%
}

.destination-text {
    position: absolute;
    top: 100px;
    right: 5%;
    background-color:aquamarine  ;

}